wbml1.0.xsd

<?xml version='1.0' encoding='utf-8'?>
<xsd:schema version='1.0'
    xmlns:xsd='http://www.w3.org/2001/XMLSchema'
    xmlns:wbdl='http://www.spintheweb.org/schemas' targetNamespace='http://www.spintheweb.org/schemas' elementFormDefault='qualified' attributeFormDefault='unqualified' xml:lang='en'>
    <xsd:annotation>
        <xsd:documentation><![CDATA[
wbdl 1.0 (Webbase Description Language Schema) http://www.spintheweb.org/schemas/wbdl1.xsd
The purpose of this schema is to formalize the description of a web site in terms of structure, navigation and contents.
Copyright (c) 2005 Giancarlo Trevisan. All Rights Reserved.
]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name='wbdl'>
        <xsd:complexType>
            <xsd:choice>
                <xsd:element name='webbase'>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name='datasources' minOccurs='0' type='wbdl:datasourcesType'>
                            </xsd:element>
                            <xsd:element name='security' type='wbdl:securityType'>
                            </xsd:element>
                            <xsd:element name='imagemaps' type='wbdl:imagemapsType' minOccurs='0'>
                            </xsd:element>
                            <xsd:element name='title' type='wbdl:textType' minOccurs='1'>
                            </xsd:element>
                            <xsd:element name='description' type='wbdl:textType' minOccurs='0'>
                            </xsd:element>
                            <xsd:element name='keywords' type='wbdl:textType' minOccurs='0'>
                            </xsd:element>
                            <xsd:element name='icon' type='wbdl:textType' minOccurs='0'>
                            </xsd:element>
                            <xsd:element name='image' type='wbdl:textType' minOccurs='0'/>
                            <xsd:element minOccurs='0' name='codebehind' type='wbdl:textType'/>
                            <xsd:element name='texts'>
                                <xsd:complexType>
                                    <xsd:sequence maxOccurs='unbounded'>
                                        <xsd:element name='standard' type='wbdl:textType'>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name='authorizations' type='wbdl:authorizationsType' minOccurs='0'/>
                            <xsd:element minOccurs='1' maxOccurs='unbounded' name='area' type='wbdl:areaType'/>
                        </xsd:sequence>
                        <xsd:attribute name='id' use='required' type='xsd:ID'/>
                        <xsd:attribute name='language' type='xsd:language' use='required'/>
                        <xsd:attribute name='url' type='xsd:anyURI' use='required'/>
                        <xsd:attribute name='homepage' type='xsd:IDREF' use='required'/>
                        <xsd:attribute name='key' type='xsd:normalizedString' use='optional'/>
                        <xsd:attribute name='protocol' type='xsd:normalizedString' use='optional' default='http://'/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name='webbaselet'>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name='datasources' type='wbdl:datasourcesType' minOccurs='0'/>
                            <xsd:element name='security' type='wbdl:securityType' minOccurs='0' maxOccurs='1'/>
                            <xsd:element name='imagemaps' type='wbdl:imagemapsType' minOccurs='0'>
                            </xsd:element>
                            <xsd:choice>
                                <xsd:element name='area' type='wbdl:areaType'/>
                                <xsd:element name='page' type='wbdl:pageType'/>
                                <xsd:element name='content' type='wbdl:contentType'/>
                            </xsd:choice>
                        </xsd:sequence>
                        <xsd:attribute name='id' use='required' type='xsd:ID'/>
                        <xsd:attribute name='language' type='xsd:language' use='required'/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
            <xsd:attribute name='version' use='required' type='xsd:decimal' fixed='1.0'/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name='areaType'>
        <xsd:sequence>
            <xsd:element name='title' type='wbdl:textType' minOccurs='1'>
            </xsd:element>
            <xsd:element name='icon' type='wbdl:textType' minOccurs='0'/>
            <xsd:element name='image' type='wbdl:textType' minOccurs='0'/>
            <xsd:element minOccurs='0' name='codebehind' type='wbdl:textType'/>
            <xsd:element minOccurs='0' name='authorizations' type='wbdl:authorizationsType'/>
            <xsd:choice minOccurs='1' maxOccurs='unbounded'>
                <xsd:element name='area' type='wbdl:areaType' minOccurs='0'/>
                <xsd:element name='page' type='wbdl:pageType' minOccurs='0'/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name='id' type='xsd:ID' use='required'/>
        <xsd:attribute name='mainpage' type='xsd:IDREF'/>
        <xsd:attribute name='sequence' type='xsd:decimal'/>
    </xsd:complexType>

    <xsd:complexType name='pageType'>
        <xsd:sequence minOccurs='1'>
            <xsd:element name='visibility' type='wbdl:textType' minOccurs='0'>
            </xsd:element>
            <xsd:element name='title' type='wbdl:textType' minOccurs='1'>
            </xsd:element>
            <xsd:element name='icon' type='wbdl:textType' minOccurs='0' maxOccurs='1'>
            </xsd:element>
            <xsd:element name='keywords' type='wbdl:textType' minOccurs='0'>
            </xsd:element>
            <xsd:element name='description' type='wbdl:textType' minOccurs='0'>
            </xsd:element>
            <xsd:element minOccurs='0' name='authorizations' type='wbdl:authorizationsType'/>
            <xsd:element minOccurs='0' name='codebehind' type='wbdl:textType'/>
            <xsd:choice minOccurs='0' maxOccurs='unbounded'>
                <xsd:element name='content' type='wbdl:contentType'/>
                <xsd:element name='shortcut' type='wbdl:shortcutType'/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name='id' type='xsd:ID' use='required'/>
        <xsd:attribute name='template' type='xsd:normalizedString' use='required'/>
    </xsd:complexType>

    <xsd:complexType name='contentType'>
        <xsd:sequence>
            <xsd:element name='query' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base='xsd:string'>
                            <xsd:attribute name='datasource' type='xsd:IDREF'/>
                            <xsd:attribute name='parameters' type='xsd:normalizedString'/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='layout' type='wbdl:textType' minOccurs='0' maxOccurs='1'>
            </xsd:element>
            <xsd:element minOccurs='0' name='codebehind' type='wbdl:textType'/>
            <xsd:element name='links' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                    <xsd:sequence maxOccurs='unbounded'>
                        <xsd:element name='link'>
                            <xsd:complexType>
                                <xsd:sequence maxOccurs='1' minOccurs='0'>
                                    <xsd:element name='title' type='wbdl:textType'/>
                                </xsd:sequence>
                                <xsd:attribute name='page' type='xsd:IDREF'/>
                                <xsd:attribute name='parameters' type='xsd:normalizedString'/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs='0' name='authorizations' type='wbdl:authorizationsType'/>
        </xsd:sequence>
        <xsd:attribute name='id' type='xsd:ID' use='required'/>
        <xsd:attribute name='name' type='xsd:normalizedString'/>
        <xsd:attribute name='section' type='xsd:NCName'/>
        <xsd:attribute name='sequence' type='xsd:decimal'/>
        <xsd:attribute name='renderas' type='xsd:normalizedString' default='eSite.Renderings.Form'/>
        <xsd:attribute name='cssclass' type='xsd:NCName'/>
        <xsd:attribute name='parentarea' use='optional' type='xsd:IDREF'/>
    </xsd:complexType>
    <xsd:complexType name='shortcutType'>
        <xsd:sequence>
            <xsd:element minOccurs='0' name='authorizations' type='wbdl:authorizationsType'/>
        </xsd:sequence>
        <xsd:attribute name='id' type='xsd:ID' use='required'/>
        <xsd:attribute name='name' use='required' type='xsd:normalizedString'/>
        <xsd:attribute name='section' type='xsd:NCName' use='required'/>
        <xsd:attribute name='sequence' type='xsd:decimal' use='required'>
            <xsd:annotation>
                <xsd:appinfo>Specify the unique content the shortcut refers to</xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name='cssclass' type='xsd:NCName'/>
        <xsd:attribute name='content' use='required' type='xsd:IDREF'/>
    </xsd:complexType>
    <xsd:complexType name='authorizationsType'>
        <xsd:attribute name='allow' type='xsd:IDREFS'/>
        <xsd:attribute name='deny' type='xsd:IDREFS'/>
    </xsd:complexType>
    <xsd:complexType name='textType' abstract='false'>
        <xsd:sequence maxOccurs='unbounded'>
            <xsd:element name='text' maxOccurs='1'>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base='xsd:string'>
                            <xsd:attribute name='language' type='xsd:language' use='required'/>
                            <xsd:attribute name='modified' type='xsd:dateTime' use='required'/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name='id' type='xsd:long'/>
    </xsd:complexType>
    <xsd:complexType name='datasourcesType'>
        <xsd:sequence maxOccurs='unbounded'>
            <xsd:element name='datasource'>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base='xsd:normalizedString'>
                            <xsd:attribute name='id' type='xsd:ID' use='required'/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='securityType'>
        <xsd:sequence>
            <xsd:element name='group' maxOccurs='unbounded'>
                <xsd:complexType>
                    <xsd:attribute name='id' use='required' type='xsd:ID'/>
                    <xsd:attribute name='name' use='required' type='xsd:NCName'/>
                    <xsd:attribute name='description' type='xsd:normalizedString'/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='user' maxOccurs='unbounded'>
                <xsd:complexType>
                    <xsd:attribute name='id' use='required' type='xsd:ID'/>
                    <xsd:attribute name='name' type='xsd:NCName' use='required'/>
                    <xsd:attribute name='fullname' type='xsd:normalizedString' use='required'/>
                    <xsd:attribute name='description' type='xsd:normalizedString'/>
                    <xsd:attribute name='password' type='xsd:normalizedString'/>
                    <xsd:attribute name='memberof' type='xsd:IDREFS' use='optional'/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='imagemapsType'>
        <xsd:sequence minOccurs='1' maxOccurs='unbounded'>
            <xsd:element name='imagemap'>
                <xsd:complexType>
                    <xsd:sequence maxOccurs='unbounded'>
                        <xsd:element name='area'>
                            <xsd:complexType mixed='false'>
                                <xsd:simpleContent>
                                    <xsd:extension base='xsd:normalizedString'>
                                        <xsd:attribute name='key' type='xsd:normalizedString'/>
                                        <xsd:attribute name='shape' type='wbdl:shape'/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name='name' use='required' type='xsd:anyURI'/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name='shape'>
        <xsd:restriction base='xsd:NMTOKEN'>
            <xsd:enumeration value='rect'/>
            <xsd:enumeration value='circle'/>
            <xsd:enumeration value='poly'/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>