wbol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="wbol"
           xmlns:wbl="wbol"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           targetNamespace="wbol"
           version="1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
             schemaLocation="http://www.w3.org/2001/xml.xsd"/>

  <xs:element name="webbase" type="WebbaseType">
    <xs:key name="areaGuids">
      <xs:selector xpath=".//wbl:area | .//wbl:webbaselet"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:key name="pageGuids">
      <xs:selector xpath=".//wbl:page"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:key name="contentGuids">
      <xs:selector xpath=".//wbl:content"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:keyref name="homepageRef" refer="wbl:pageGuids">
      <xs:selector xpath="."/>
      <xs:field xpath="@homepage"/>
    </xs:keyref>
    <xs:keyref name="shortcutContentRef" refer="wbl:contentGuids">
      <xs:selector xpath=".//wbl:shortcut"/>
      <xs:field xpath="@content"/>
    </xs:keyref>
    <xs:keyref name="areaMainpageRef" refer="wbl:pageGuids">
      <xs:selector xpath=".//wbl:area | .//wbl:webbaselet"/>
      <xs:field xpath="@mainpage"/>
    </xs:keyref>
    <xs:keyref name="tabsOptionContentRef" refer="wbl:contentGuids">
      <xs:selector xpath=".//wbl:tabsOptions/wbl:option"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:keyref name="menuAreaOptionRef" refer="wbl:areaGuids">
      <xs:selector xpath=".//wbl:menuOptions/wbl:areaOption"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:keyref name="menuPageOptionRef" refer="wbl:pageGuids">
      <xs:selector xpath=".//wbl:menuOptions/wbl:pageOption"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:keyref name="menuContentOptionRef" refer="wbl:contentGuids">
      <xs:selector xpath=".//wbl:menuOptions/wbl:contentOption"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:key name="portalRoleIds">
      <xs:selector xpath="wbl:roles/wbl:role"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="visibilityRoleRefs" refer="wbl:portalRoleIds">
      <xs:selector xpath=".//wbl:visibilities/wbl:role"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>

  <xs:element name="webbaselet" type="AreaType">
    <xs:key name="areaGuidsInWebbaselet">
      <xs:selector xpath=". | .//wbl:area | .//wbl:webbaselet"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:key name="pageGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:page"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:key name="contentGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:content"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:keyref name="webbaseletMainpageRef" refer="wbl:pageGuidsInWebbaselet">
      <xs:selector xpath="."/>
      <xs:field xpath="@mainpage"/>
    </xs:keyref>
    <xs:keyref name="shortcutContentRefInWebbaselet" refer="wbl:contentGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:shortcut"/>
      <xs:field xpath="@content"/>
    </xs:keyref>
    <xs:keyref name="areaMainpageRefInWebbaselet" refer="wbl:pageGuidsInWebbaselet">
      <xs:selector xpath=". | .//wbl:area | .//wbl:webbaselet"/>
      <xs:field xpath="@mainpage"/>
    </xs:keyref>
    <xs:keyref name="tabsOptionContentRefInWebbaselet" refer="wbl:contentGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:tabsOptions/wbl:option"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:keyref name="menuAreaOptionRefInWebbaselet" refer="wbl:areaGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:menuOptions/wbl:areaOption"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:keyref name="menuPageOptionRefInWebbaselet" refer="wbl:pageGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:menuOptions/wbl:pageOption"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
    <xs:keyref name="menuContentOptionRefInWebbaselet" refer="wbl:contentGuidsInWebbaselet">
      <xs:selector xpath=".//wbl:menuOptions/wbl:contentOption"/>
      <xs:field xpath="@guid"/>
    </xs:keyref>
  </xs:element>

  <xs:complexType name="WebbaseType">
    <xs:all>
      <xs:element name="datasources" type="DatasourcesType" minOccurs="0"/>
      <xs:element name="roles" type="RolesType"/>
      <xs:element name="name" type="NameType"/>
      <xs:element name="documentation" type="DocumentationType" minOccurs="0"/>
      <xs:element name="visibilities" type="VisibilitiesType" minOccurs="0"/>
      <xs:element name="children" type="ChildrenType"/>
    </xs:all>
    <xs:attribute name="guid" type="WebbaseGuidType" use="required"/>
    <xs:attribute name="homepage" type="PageGuidType" use="required"/>
    <xs:attribute name="url" type="xs:anyURI" use="required"/>
    <xs:attribute name="defaultLanguage" type="xs:language" use="required"/>
  </xs:complexType>

  <xs:simpleType name="WebbaseGuidType">
    <xs:restriction base="xs:token">
      <xs:pattern value="w[0-9A-Za-z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AreaGuidType">
    <xs:restriction base="xs:token">
      <xs:pattern value="a[0-9A-Za-z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PageGuidType">
    <xs:restriction base="xs:token">
      <xs:pattern value="p[0-9A-Za-z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContentGuidType">
    <xs:restriction base="xs:token">
      <xs:pattern value="c[0-9A-Za-z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SlugType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-z0-9]+(-[a-z0-9]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VisibilityLiteralType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VisibilityFunctionCallType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*\(\)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VisibilityValueType">
    <xs:union memberTypes="wbl:VisibilityLiteralType wbl:VisibilityFunctionCallType"/>
  </xs:simpleType>

  <xs:simpleType name="VisibilityFunctionResultType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
      <xs:enumeration value="null"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContentKindType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="text"/>
      <xs:enumeration value="table"/>
      <xs:enumeration value="form"/>
      <xs:enumeration value="list"/>
      <xs:enumeration value="graph"/>
      <xs:enumeration value="plots"/>
      <xs:enumeration value="calendar"/>
      <xs:enumeration value="tree"/>
      <xs:enumeration value="tabs"/>
      <xs:enumeration value="menu"/>
      <xs:enumeration value="breadcrumbs"/>
      <xs:enumeration value="navigationindex"/>
      <xs:enumeration value="imagemaps"/>
      <xs:enumeration value="serverside"/>
      <xs:enumeration value="clientside"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SectionType">
    <xs:restriction base="xs:token">
      <!-- Layout sections -->
      <xs:enumeration value="header"/>
      <xs:enumeration value="footer"/>
      <xs:enumeration value="main"/>
      <xs:enumeration value="aside-left"/>
      <xs:enumeration value="aside-right"/>
      <!-- Overlay sections -->
      <xs:enumeration value="popup"/>
      <xs:enumeration value="dialog"/>
      <xs:enumeration value="window"/>
      <!-- Notification sections -->
      <xs:enumeration value="alert"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="messages"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PredefinedRoleIdType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="root"/>
      <xs:enumeration value="administrators"/>
      <xs:enumeration value="guests"/>
      <xs:enumeration value="users"/>
      <xs:enumeration value="developers"/>
      <xs:enumeration value="translators"/>
      <xs:enumeration value="seo"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CustomRoleIdType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z][A-Za-z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RoleIdType">
    <xs:union memberTypes="wbl:PredefinedRoleIdType wbl:CustomRoleIdType"/>
  </xs:simpleType>

  <xs:complexType name="RolesType">
    <xs:sequence>
      <!-- A webbase must declare at least the seven mandatory preset roles. -->
      <xs:element name="role" type="PortalRoleType" minOccurs="7" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PortalRoleType">
    <xs:attribute name="id" type="RoleIdType" use="required"/>
  </xs:complexType>

  <xs:complexType name="ChildrenType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="area" type="AreaType"/>
        <xs:element name="webbaselet" type="AreaType"/>
        <xs:element name="page" type="PageType"/>
        <xs:element name="content" type="ContentType"/>
        <xs:element name="shortcut" type="ShortcutType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PageChildrenType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="content" type="ContentType"/>
        <xs:element name="shortcut" type="ShortcutType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AreaType">
    <xs:all>
      <xs:element name="name" type="NameType"/>
      <xs:element name="visibilities" type="VisibilitiesType" minOccurs="0"/>
      <xs:element name="documentation" type="DocumentationType" minOccurs="0"/>
      <xs:element name="children" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="area" type="AreaType"/>
              <xs:element name="webbaselet" type="AreaType"/>
              <xs:element name="page" type="PageType"/>
              <xs:element name="content" type="ContentType"/>
              <xs:element name="shortcut" type="ShortcutType"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="guid" type="AreaGuidType" use="required"/>
    <xs:attribute name="mainpage" type="PageGuidType" use="optional"/>
    <xs:attribute name="src" type="xs:anyURI" use="optional"/>
    <xs:attribute name="sequence" type="xs:decimal" use="optional"/>
    <xs:attribute name="version" type="xs:token" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PageType">
    <xs:all>
      <xs:element name="name" type="NameType"/>
      <xs:element name="keywords" type="KeywordsType"/>
      <xs:element name="description" type="KeywordsType"/>
      <xs:element name="visibilities" type="VisibilitiesType" minOccurs="0"/>
      <xs:element name="documentation" type="DocumentationType" minOccurs="0"/>
      <xs:element name="children" type="PageChildrenType" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="guid" type="PageGuidType" use="required"/>
    <xs:attribute name="template" type="xs:anyURI" use="optional" default="index.html"/>
    <xs:attribute name="sequence" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DatasourcesType">
    <xs:sequence>
      <xs:element name="datasource" type="DatasourceType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasourceType">
    <xs:attribute name="id" type="xs:token" use="required"/>
    <xs:attribute name="queryLanguage" type="xs:token" use="required"/>
    <xs:attribute name="connection-string" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ContentType">
    <xs:all>
      <xs:element name="name" type="NameType"/>
      <xs:element name="query" type="QueryType"/>
      <xs:element name="parameters" type="xs:string" minOccurs="0"/>
      <xs:element name="layouts" type="LayoutsType" minOccurs="0"/>
      <xs:element name="documentation" type="DocumentationType" minOccurs="0"/>
      <xs:element name="tabsOptions" type="TabsOptionsType" minOccurs="0"/>
      <xs:element name="menuOptions" type="MenuOptionsType" minOccurs="0"/>
      <xs:element name="visibilities" type="VisibilitiesType" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="guid" type="ContentGuidType" use="required"/>
    <xs:attribute name="type" type="ContentKindType" use="required"/>
    <xs:attribute name="section" type="SectionType" use="required"/>
    <xs:attribute name="sequence" type="xs:decimal" use="required"/>
    <xs:attribute name="class" type="xs:token" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ShortcutType">
    <xs:sequence>
      <xs:element name="name" type="NameType"/>
      <xs:element name="visibilities" type="VisibilitiesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="guid" type="ContentGuidType" use="required"/>
    <xs:attribute name="content" type="ContentGuidType" use="required"/>
    <xs:attribute name="section" type="SectionType" use="required"/>
    <xs:attribute name="sequence" type="xs:decimal" use="required"/>
    <xs:attribute name="class" type="xs:token" use="required"/>
  </xs:complexType>

  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element name="text" type="NameTextType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KeywordsType">
    <xs:sequence>
      <xs:element name="text" type="LocalizedTextType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LocalizedTextType" mixed="true">
    <xs:attribute ref="xml:lang" use="required"/>
  </xs:complexType>

  <xs:complexType name="NameTextType" mixed="true">
    <xs:attribute ref="xml:lang" use="required"/>
    <xs:attribute name="slug" type="SlugType" use="required"/>
  </xs:complexType>

  <xs:complexType name="QueryType" mixed="true">
    <xs:attribute name="datasource" type="xs:token" use="required"/>
  </xs:complexType>

  <xs:complexType name="LayoutsType">
    <xs:sequence>
      <xs:element name="text" type="LocalizedTextType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DocumentationType">
    <xs:sequence>
      <xs:element name="text" type="DocumentationTextType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DocumentationTextType" mixed="true">
    <xs:attribute ref="xml:lang" use="optional"/>
    <xs:attribute name="format" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="LabelType">
    <xs:sequence>
      <xs:element name="text" type="LocalizedTextType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TabsOptionsType">
    <xs:sequence>
      <xs:element name="option" type="TabOptionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TabOptionType">
    <xs:sequence>
      <xs:element name="label" type="LabelType"/>
      <xs:element name="parameters" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="guid" type="ContentGuidType" use="required"/>
  </xs:complexType>

  <xs:complexType name="MenuOptionsType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="areaOption" type="AreaOptionType"/>
        <xs:element name="pageOption" type="PageOptionType"/>
        <xs:element name="contentOption" type="ContentOptionType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AreaOptionType">
    <xs:sequence>
      <xs:element name="label" type="LabelType"/>
      <xs:element name="parameters" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="guid" type="AreaGuidType" use="required"/>
  </xs:complexType>

  <xs:complexType name="PageOptionType">
    <xs:sequence>
      <xs:element name="label" type="LabelType"/>
      <xs:element name="parameters" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="guid" type="PageGuidType" use="required"/>
  </xs:complexType>

  <xs:complexType name="ContentOptionType">
    <xs:sequence>
      <xs:element name="label" type="LabelType"/>
      <xs:element name="parameters" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="guid" type="ContentGuidType" use="required"/>
  </xs:complexType>

  <xs:complexType name="VisibilitiesType">
    <xs:sequence>
      <xs:element name="role" type="RoleType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RoleType">
    <xs:attribute name="id" type="RoleIdType" use="required"/>
    <xs:attribute name="visibility" type="VisibilityValueType" use="required"/>
  </xs:complexType>

</xs:schema>
